html {
    scroll-behavior: smooth;
}
body {
    background-color: beige;
}
nav {
    box-shadow: 0 2px 3px rgb(95, 94, 94);
    transition: all 0.3s;
    font-size: 1.2em;
}
.navbar.compressed {
    font-size: 1em;
    /*height: 80px;*/
}
.titleHeader{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.titleHeader h1{
    margin-top: 200px;
}
.parallax h5 {
color: white;
top: 300px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;
padding-bottom: 38px;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-tap-highlight-colour: rgba(0, 0, 0, 0);
-webkit-font-smoothing: antialiased;
-webkit-box-direction: normal;
}

#name:after,
#name:before {
content: '';
width: 50px;
height: 2px;
background: black;
margin: 0 10px;
}
.parallax{
    margin-top: 80px; 
    background-image: url("../img/landing_image.jpg");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    text-align: center;
}
.jumbotron {
    background-color: rgb(223, 228, 233);
}
hr{
    width: 600px;
}
#profilePhotoDiv {
    text-align: center;
    margin-top: 30px;
}
#musicPhotoDiv {
    text-align: center;
}
#profileQuote {
    font-size: 1.5em;
    color: rgb(99, 94, 94);
    padding-top: 20px;
}
#work blockquote{
    padding: 20px;
}
.competency-list{
    margin-left: -25px; 
}
.competency-list li{
    font-size: 1.4em;
    display: inline;
    list-style: none;
    padding-right: 20px;
}

/* .work-images {
    text-align: center;
} */
#work{
    text-align: center; 
}
#work img {
    margin-bottom: 10px;
    width: 12rem;
}
#music {
    text-align: center;
}
#music img {
    margin-bottom: 10px;
    width: 12rem;
}
.music-images{
    transition: transform .2s;
}
.music-images:hover {
    transform: scale(1.1);
}
#my_background img {
    margin-bottom: 20px;
    width: 12rem;
}
#my_background {
    text-align: center;
}
.image_break {
    width: 300px;
}
#hobbies img{
    width: 20rem;
}
footer {
    margin-top: 40px;
    padding: 30px;
    background-color: #333;
}
#copyright{
    margin-top: 20px;
}

.social-links{
    transition: transform .2s;
    margin-top: 20px;
}
.social-links img{
    width: 2rem;
}
.social-links img:hover{
    transform: scale(1.3);
}
/*Media*/
@media(max-width: 768px){
    .titleHeader h1{
        font-size: 3em;
    }
    hr {
        width: 200px;
    }
    #work img {
        width: 10rem;
    }

    #music img {
        width: 10rem;
    }
    #my_background img {
        width: 10rem;
    }
    .competency-list li{
        font-size: 1em;
    }
    #name {
        font-size: 1.7em;
    }
    #my_background h2{
        font-size: 1.7em;
    }
    #my_background h4{
        font-size: 1.3em;
    }
}
@media(max-width: 600px){
    .social-links img{
        width: 1rem;
    }
}